.user-detail-container {
  padding: 24px;
  background-color: #fafafa;
  border-radius: 8px;
}

.user-detail-info {
  margin-bottom: 12px;
  font-size: 16px;
}

.user-detail-button {
  margin-top: 20px;
}
